body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #080f7b;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.contenedor {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.sorteo {
  flex: 1;
  text-align: center;
  min-width: 350px;
  padding-top: 20px;
}

#resultado {
  font-size: 2em;
  margin: 20px 0;
  min-height: 60px;
  transition: color 0.5s ease;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #ffffff20;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #ffffff40;
}

.lista {
  min-width: 280px;
  max-width: 300px;
  background: #1c1c1c;
  border-radius: 12px;
  padding: 20px;
  height: fit-content;
}

.lista h2 {
  margin-top: 0;
  text-align: center;
}

#ordenFinal {
  list-style: none;
  padding: 0;
  margin: 0;
}
#ordenFinal li {
  font-size: 1.2em;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}
#ordenFinal span {
  font-weight: bold;
  transition: opacity 0.5s ease;
}

/* Colores */
.sith {
  color: red;
  background-color: rgba(223, 18, 18, 0.315);
  padding: 2px 6px;
  border-radius: 6px;
  border: 3px solid red;
}
.jedi {
  color: dodgerblue;
  background-color: rgba(30, 143, 255, 0.304);
  padding: 2px 6px;
  border-radius: 6px;
  border: 3px solid dodgerblue;
}
.mandalorians {
  color: green;
  background-color: rgba(0, 128, 0, 0.256);
  padding: 2px 6px;
  border-radius: 6px;
  border: 3px solid green;
}
.rebels {
  color: gold;
  background-color: rgba(255, 255, 0, 0.19);
  padding: 2px 6px;
  border-radius: 6px;
  border: 3px solid gold;
}
.inquisitorius {
  color: black;
  background-color: rgba(255, 255, 255, 0.531);
  padding: 2px 6px;
  border-radius: 6px;
  border: 3px solid black;
}
.stormtrooper {
  color: white;
  background-color: rgba(15, 15, 15, 0.481);
  padding: 2px 6px;
  border-radius: 6px;
  border: 3px solid white;
}
.bad-batch {
  color: rgb(95, 11, 95);
  background-color: rgba(238, 130, 238, 0.294);
  padding: 2px 6px;
  border-radius: 6px;
  border: 3px solid rgb(95, 11, 95);
}
.woofiees {
  color: saddlebrown;
  background-color:rgba(139, 69, 19, 0.271);
  padding: 2px 6px;
  border-radius: 6px;
  border: 3px solid saddlebrown;
}

#mensajeFinal {
  margin-top: 30px;
  font-size: 1.5rem;
  color: rgb(15, 15, 12);
  background-color: rgba(218, 165, 32, 0.6);
  padding: 2rem;
  border-radius: 10px 30px;
  font-weight: bold;
  max-width: 300px;
  opacity: 0;
  transition: opacity 1s ease-in;
}
#mensajeFinal.visible {
  opacity: 1;
}
.mensaje-oculto {
  height: 0;
  overflow: hidden;
}

footer {
  background-color: #111;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
footer img {
  height: 40px;
}
